@use 'variables';


// Input styles

#inputs {
    background-color: variables.$keyboard_bg;
    max-width: 90%;
    box-shadow: variables.$shadow;

    @include variables.box-props(0.5rem, 0.5rem auto, 1px, solid, variables.$text_color, 15px);
    
    p#output {
        margin: 1rem 0;
    }

    #letters {
        display: flex;
        justify-content: center;
        max-width: 90%;
        
        .letter-space {
            background-color: variables.$text_color;
            color: black;
            font-size: 1.7rem;
            text-align: center;
            width: 2rem;
            height: 1.5rem;
            margin: 0.2rem;
            line-height: 1;
        }
    }

    #keyboard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        padding: 0.8rem;
        max-width: 90%;
        margin: auto;
        justify-items: center;

        button {
            color: variables.$text_color;
            background-color: variables.$accent2;
            font-weight: bold;
            text-shadow: variables.$shadow;
            padding: 0.8rem;
            width: 100%;
        }
    }
}

@media screen and(max-width: 310px) {
    #inputs #keyboard button {
        padding: 0.5rem;
    }
}

@media screen and(min-width: 380px) {
    #inputs #keyboard button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1900px) {
    #inputs #keyboard button {
        font-size: 5rem;
    }

    p#intro {
        margin-left: 5rem;
    }
}
