html {
  box-sizing: border-box;
  font: 1.1rem calibri, arial, sans-serif;
  color: #e1dfb6;
}

* {
  box-sizing: inherit;
}

body {
  background-color: rgba(197, 238, 125, 0.9);
}

header, footer {
  background-color: rgba(92, 69, 45, 0.9);
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: candara, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
}

p, address {
  line-height: 1.5;
}

.btn {
  background-color: rgba(140, 176, 78, 0.9);
  color: #e1dfb6;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(92, 69, 45, 0.9);
  box-shadow: 0px 0px 5px rgba(92, 69, 45, 0.9);
  padding: 0.5rem;
  margin: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e1dfb6;
  border-radius: 7px;
}

figure {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}

img {
  max-width: 100%;
}

address {
  font-style: italic;
  font-size: 0.7rem;
}

#main_wrap {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
