// Variables
@use "variables";

// Main styles

html {
    box-sizing: border-box;
    font: 0.8rem calibri, arial, sans-serif;
    color: variables.$text_color;
}

* {
    box-sizing: inherit;
}

body {
    background-color: variables.$main_bg_color;
}

header {
    background-color: variables.$hf_bg_color;
    padding: 1rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: candara, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
}

p, address {
    line-height: 1.5;
}

.btn-container {
    display: grid;
    justify-items: center;
}

.btn {
    background-color: variables.$btn_color;
    color: variables.$text_color;
    font-weight: bold;
    text-shadow: 0px 0px 5px variables.$hf_bg_color;
    box-shadow: variables.$shadow;

    @include variables.box-props(0.5rem, auto, 1px, solid, variables.$text_color, 7px);
}

figure {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
}

img {
    width: 100%;
}

#main_wrap {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
}

@media screen and (min-width:380px) {
    p {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 2rem;
        padding: 1.5rem;
    }
}
