// Variables
$hf_bg_color: rgba(92,69,45, 0.9);
$text_color: #e1dfb6;
$main_bg_color: rgba(197,238,125, 0.9);
$keyboard_bg: rgba(59, 38, 15, 0.9);
$accent_color: rgba(122,146,68, 0.8);
$accent2: rgba(140,176,78, 0.9);
$end_box_bg: rgba(59, 78, 15, 0.9);
$shadow: 0px 0px 5px $hf_bg_color;

// Mixins
@mixin box-props($pad, $mar, $width, $style, $colour, $radius) {
    padding: $pad;
    margin: $mar; 
    border-width: $width;
    border-style: $style;
    border-color: $colour;
    border-radius: $radius; 
}